.siteAndNavbar {
    width: 16%;
    height: 100%;
    position: relative;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

.siteAndNavbar .siteNav-box {
    width: 15%;
    height: 100%;
    background-color: rgb(240, 240, 240);
    position: fixed;
    padding: 10px;
    transition: .9s;
    -webkit-transition: .9s;
    -moz-transition: .9s;
    -ms-transition: .9s;
    -o-transition: .9s;
    z-index: 555;
}



.sitebar-profile {
    display: flex;
    height: 10%;
    align-items: center;
}

.sitebar-profile img {
    width: 50px;
    height: 50px;
    margin: 0px 10px;
}

.sitebar-profile span {
    font-weight: 500;
}


nav ul {
    width: 100%;
    padding: 0;
    line-height: 35px;
}

nav ul li {
    width: 100%;
    list-style: none;
    padding: 2px 5px;
    justify-content: space-between;
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
}

nav ul li:hover {
    background-color: gray;
}

nav ul li a {
    color: black;
    text-decoration: none;
    font-weight: 500;
}

nav ul li a span {
    margin-right: 5px;
}

nav ul li:hover a {
    color: rgb(255, 255, 255);
}


.logo {
    position: relative;
}

.logo #times {
    font-size: 25px;
    position: absolute;
    top: 40px;
    right: 10px;
    cursor: pointer;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: none;

}

.logo #times:hover {
    color: red;
}








/* navbar */

.navigation {
    width: 85%;
    padding: 5px 15px;
}

.navigation span {
    cursor: pointer;
}

.right {
    width: 20%;
    align-items: center;
    text-align: right;
}

.right img {
    width: 25%;
    margin: 5px;
}

.graphs-area {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.chartOne {
    width: 48%;
}

.chartOne #myChart1 {
    width: 100%;
    height: 80%;
    display: flex;
    object-fit: contain;
}

.chartOne:nth-child(1) {
    width: 100%;
    margin-bottom: 50px;
}




/* password page */

.change-password .card-body {
    display: flex;
    flex-wrap: wrap;
}

.change-password .card-body span {
    display: inline-block;
    width: 48% !important;
    margin: 10px 0;
}

.change-password .card-body span input {
    width: 100%;
    padding: 5px;
}

.change-password .card-footer button {
    text-align: center;
}










@media (max-width:992px) {
    .siteAndNavbar {
        width: 26%;
    }

    .siteAndNavbar .siteNav-box {
        width: 23%;
    }

    .siteAndNavbar {
        display: none;
    }

    .right {
        width: 25%;
    }

    .sitebar-profile span {
        font-size: 14px;
    }
}



@media (max-width:768px) {
    .siteAndNavbar {
        display: none;
    }

    .siteAndNavbar {
        width: 0% !important;
    }

    .siteAndNavbar .siteNav-box {
        width: 30% !important;

    }

    .logo #times {
        display: block;
    }

    nav ul li a {
        font-size: 14px;
    }

    .sitebar-profile span {
        font-size: 14px;
    }

    .navigation {
        width: 100% !important;
        padding: 5px 15px;
        /* box-shadow:0px 1px 4px 0px rgba(94,104,121); */

    }

    .right {
        width: 30%;

    }


}

@media (max-width:576px) {
    .sitebar-profile img {
        width: 30px;
        height: 30px;
    }

    .siteAndNavbar {
        width: 20% !important;
    }

    .siteAndNavbar .siteNav-box {
        width: 50% !important;
    }

    nav ul li a {
        font-size: 13px;
    }

    .right {
        width: 40% !important;
        font-size: 14px;
    }

    .graphs-area {
        display: block;
        width: 100%;
    }

    .chartOne {
        width: 100% !important;
        height: fit-content;
        margin: 20px 0;
    }

    .chartOne #myChart2 {
        height: 250px;
        width: 100% !important;
        object-fit: contain;
    }

    .chartOne #myChart3 {
        height: 250px;
        width: 100% !important;
        object-fit: contain;
    }

    .card {
        margin: 10px 0;
    }

    .change-password .cart-title{
        text-align: center;
    }

    .change-password .card-body {
        width: 80%;
        margin:0 auto;        
        display: block;
        justify-content: center;
    }

    .change-password .card-body span{
        width: 100% !important;
    }
    .change-password .card-footer{
       text-align: right;
    }
}
